# Editor files
*.swp
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Mac folder attributes
.DS_Store
src/sme/dll/sme_synth.so.linux.x86_64.64
src/sme/dll/sme_synth.so.linux.x86_64.64i
src/sme/atmospheres/*.sav
src/sme/**/*.pro
src/sme/dll/*.INTEL*
src/sme/dll/vcsbalmer.dat
__cache__/**
src/sme/uioenvfile.txt
*.npy
dump.bin
src/sme/dll/sme_synth.so.*
src/sme/dll/intel64_lin/*
src/sme/nlte_grids/*
src/sme/dll/idl_test.*
fisher1.dat
*.cprof
*.sav
uioenvfile.txt
*.lin
*.inp
test.html
beta.png
*.out
Untitled.ipynb
test.py
mcmc.py
run_mcmc.py
src/sme/atmospheres/*
*.html
test.py
